.row{ "data-member-name" => user.login }
  %span.user-image
    = image_tag(user.organization_avatar, :width => 30)
  %span.user-name
    %strong
      = user.name
  %span
    %button.btn.btn-mini.js-user-delete X