%h1.capitalize
  = @project.name
  %a{href: settings_project_url(@project)} settings
%ul#issues
  - if @project.current_milestone.nil? 
    no current milestone
  - else
    - @project.current_milestone.issues.each do |issue|
      = render partial: 'projects/issue', locals: { issue: issue }