<div class="row" data-member-name="<%= user.login %>">
  <span class="user-image">
    <img alt="<% user.login %>" src="<%= user.organization_avatar %>" width="30">
  </span>
  <span class="user-name">
    <strong>
      <%= user.name %>
    </strong>
  </span>
  <span>
    <button class="btn btn-mini js-user-delete">X</button>
  </span>
</div>
